<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="/css/thtml2.css"></link>
    <!-- 로그인 성공 시 응답되는 페이지 -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 성공(3페이지)</title>
</head>
<body>
    <p>
        <h1>
        <strong>로그인 성공(3페이지)</strong>
        </h1>
    </p>
    <div id="movepage">
        <form action="/2" method="get">
            <button type="submit">2페이지</button>
        </form>
    </div>
</body>
</html>