/*thtml.html용 css파일 (유튜브 조코딩채널 참조) */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    border: none;
}
/* #(id속성) == 전체 페이지에서 한 번만 사용 가능 */
#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* .(class속성) == 여러가지의 태그를 동시에 동일하게 바꿔주고 싶을때 사용(태그당 한 번 가능) */
P {
    font-size: 30px;
}

h1 {
    margin: 20px;
    margin-left: 0;
}


ul {
    font-size: 25px;
    margin: 0;
}

ol {
    font-size: 25px;
    margin: 0;
}

table{
    margin: 0;
    width: 300px;
    height: 250px;
}

td {
    text-align: center;
}

input {
    font-size: 30px;
    margin: 0;
  
    padding: 0;
    margin-bottom: 10px;
}

form {
    flex-direction: column;
}

select {
    margin-bottom: 10px;
}